* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.dark .outer-body {
  background-color: #252525;
}

.auth-login-container {
  min-width: 400px;
  max-width: 700px;
  padding: 2rem;
}

.auth-logo-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 2rem;
}

.auth-wave-icon {
  color: #6366f1;
  text-align: center;
}

.auth-heading {
  justify-content: left;
  padding-left: 8px;
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
  color: #111827;
}

.dark .auth-heading {
  color: white;
}

.auth-form-group {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.auth-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #374151;
  font-weight: 500;
}

.dark .auth-label {
  color: white;
}

.auth-password-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-forgot-link:hover {
  text-decoration: underline;
}

.auth-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
}

.dark .auth-input {
  background-color: #d2d2d2;
}

.auth-input:focus {
  border: 1px solid;
  border-color: rgb(255, 188, 43);
}

.auth-submit-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: rgb(255, 188, 43);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.auth-submit-btn:hover {
  background-color: var(--secondary-color);
}

.auth-signup-wrapper {
  text-align: center;
  margin-top: 1.5rem;
  color: #6b7280;
  font-size: 0.875rem;
}

.dark .auth-signup-wrapper {
  color: white;
}

.auth-signup-link {
  color: rgb(255, 188, 43);
  text-decoration: none;
  font-weight: 500;
}

.auth-signup-link:hover {
  text-decoration: underline;
}

:root {
  --primary-color: #fcc737;
  --secondary-color: #e7aa02;
  --text-color: rgba(255, 255, 255, 0.938);
  --border-color: rgb(150, 150, 150);
  --shadow-color: rgb(163, 163, 163);
  --background-color: rgb(233, 233, 233);
  --hover-background: rgb(227, 227, 227);
  --footer-color: rgb(182, 182, 182);
  --footer-background: hsl(0, 0%, 85%);
}

.dark :root {
  --primary-color: black;
  --secondary-color: blue;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
}

.dark {
  background-color: #252525;
}

.dark .board {
  background-color: #24282f;
}

/* Header Styles */
#header {
  display: flex;
  z-index: 1;
  align-items: center;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  column-gap: 8px;
  background-color: var(--primary-color);
  height: 65px;
  color: var(--text-color);
  padding: 0 10px 0 10px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right {
  display: flex;
  padding-right: 10px;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.user-button {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  border-radius: 19px;
  border: none;
  font-size: 30px;
  background-color: var(--primary-color);
  color: white;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.user-button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.bi {
  fill: white;
}

.dark-mode-button {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  border-radius: 19px;
  background-color: (var(--primary-color));
  border-radius: 17px;
  transition-property: background-color;
  transition-duration: 0.2s;
  border: none;
}

.dark-mode-button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.note-container {
  display: grid;
  grid-template-rows: 1fr 3fr 20px;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-color: var(--border-color);
  box-shadow: 3px 3px 10px var(--shadow-color);
  transition: all 0.5s ease;
  border-radius: 10px;
  /* max-width: 350px; */
}

.dark .note-container {
  background-color: #383838;
  box-shadow: 3px 3px 10px rgb(28, 28, 28);
  color: white;
}

.note-container:hover {
  border: solid var(--primary-color);
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgb(200, 200, 200);
}

.dark .note-container:hover {
  border: solid var(--primary-color);
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgb(36, 36, 36);
}

.board {
  padding: 320px 20px 100px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Add Note Form Styles */
.add-note-outer-container {
  display: flex;

  z-index: 1;
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  padding: 20px;
  top: 65px;
  box-shadow: 5px 7px 19px 0px rgba(188, 188, 188, 0.3);
  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: solid rgb(194, 194, 194);
  justify-content: center;
  border-bottom: solid var(--primary-color);
}

.dark .add-note-outer-container {
  background-color: #24282f;
  box-shadow: 5px 7px 19px 0px rgba(41, 41, 41, 0.3);
}

.add-note-inner-container {
  position: relative;
  height: 180px;
  width: 500px;
}

.note-container {
  flex: 1 1 250px;
  min-width: 250px;
  height: auto;
}

.note-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
}

.title {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 25px;
}

.content {
  word-break: break-all;
  font-weight: 500;
  padding: 10px 0px 0px 0px;
}

.date {
  margin-top: 4px;
  display: block;
  color: rgb(122, 122, 122);
  font-size: 13px;
}

.dark .date {
  color: rgb(255, 255, 255);
}

/* Button Styles */
.delete-button {
  color: var(--primary-color);
  background-color: white;
  font-size: 13px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 1s, color 1s;
}

.dark .delete-button {
  background-color: #383838;
}

.delete-button:hover {
  color: red;
}

/* Footer Styles */
#footer {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  color:#454545;
  text-align: center;
  background-color: #d4d4d4;
}

.dark #footer{
  color: var(--footer-color);
  background-color: rgb(55, 55, 55);
}

.footer-logo{
  fill: #454545;
}

.dark .footer-logo{
  fill:  var(--footer-color);
}



.title-input,
.content-input {
  font-family: "Nunito", serif;
  width: 100%;
  border: none;
  box-shadow: 3px 3px 10px var(--shadow-color);
  padding: 10px;
}

.dark .title-input,
.dark .content-input {
  background-color: #383838;
  box-shadow: 3px 3px 10px rgb(28, 28, 28);
  color: white;
}

.title-input {
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 30px 30px 0 0;
}

.content-input {
  height: 120px;
  border-radius: 0 0 30px 30px;
}

input:focus,
textarea:focus {
  outline: none;
  border-top: none;
}

/* Add Button Styles */
.add-button {
  position: absolute;
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-size: 40px;
  border-radius: 30px;
  height: 50px;
  width: 50px;
  top: 140px;
  right: -15px;
  cursor: pointer;
  transition: background-color 1s;
}

.add-button:hover {
  background-color: var(--secondary-color);
}

@keyframes pulseSpin {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(1.2) rotate(180deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}

.loading-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.dark .loading-container {
  color: white;
}

.load-icon {
  font-size: 50px;
  display: flex;
  justify-content: center;
  animation: pulseSpin 2s infinite ease-in-out;
}

.load-i {
  fill: black;
}

.dark .load-i {
  fill: white;
}
